body {
  background: #C4B0FF;
}

.App .mouth-img {
    max-width: 200px;
    display: block;
    margin: 20px auto 0;
}

.App h1 {
  background: rgb(67, 225, 252, 0.7);
  border: solid 2px #8696FE;
  border-radius: 25px;
  color: rgb(37, 26, 199);
  font-family: 'Merriweather', serif;
  font-size: 60px;
  font-weight: 550;
  margin: 10px 40px 20px;
  padding: 10px;
  text-align: center;
}

