body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/099/619/original/library-img.jpg?1696844746");
  background-repeat: no-repeat;
  background-size: cover;
 min-width: 460px;
    
}

.App .reading-img {
    max-width: 160px;
    display: block;
    margin: 0 auto;
}




  
