.Dictionary .Hero {
background-color: rgb(204, 204, 204, 0.9);
border-radius: 10px;
margin-bottom: 20px;
padding: 20px;
}

.Dictionary .search-form {
margin: 20px auto 0;
}

.Dictionary .search-form, .Dictionary .scrollSuggestion {
display: block;
font-family: 'Quicksand', sans-serif;
text-align: center;
}

.Dictionary .form-entry {
border-radius: 7px;
font-size: 20px;
font-weight: 500;
margin: 15px;
min-width: 300px;
padding: 15px;
}

.Dictionary .form-btn {
background-color: #3f3d56;
border-radius: 7px;
color: #e6e6e6;
font-size: 15px;
font-weight: 700;
letter-spacing: 2px;
line-height: 32px;
text-align: center;
text-transform: uppercase;
transition: all ease-in-out 2ms;
}

.Dictionary .form-btn:hover {
transform: scale(1.1);
}

.Dictionary p {
   font-size: 18px;
}

@media (max-width: 760px) {

.Dictionary .form-entry {
text-align: center;
}

}