.Meaning {
    font-family: 'Quicksand', sans-serif;

}
    
.Meaning h4 {
    text-transform: uppercase;
}

.Meaning p {
    font-size: 20px;
}

.Meaning .Synonyms .akaExplanation {
    font-size: 15px;
    opacity: 0.8;

}