.Meaning {
    font-family: 'Quicksand', sans-serif;

}
    
.Meaning h4 {
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Meaning h5 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.Meaning p {
    font-size: 20px;
    font-weight: 430;
}

.Meaning .Synonyms .akaExplanation {
    font-size: 15px;
    opacity: 0.8;
}

.Meaning .Synonyms li {
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 770px) {
.Meaning h4 {
    font-size: 22px;
}

.Meaning p {
    font-size: 17px;
}

}